<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  padding: 2px 16px;
display: inline-block;
}
.container
{
}
.message
{
margin:20px;
padding:10px;
display:flex;
justify-content:center;
align-items:center;
}
</style>
</head>
<body>
{% include 'header.html' %}
{% if request.cookies.get('name')!=""  %}
                  {% set name = request.cookies.get('name') %}
                    {% set email = request.cookies.get('email') %}
                    {% set mobile = request.cookies.get('mobile') %}
                    {% set state = request.cookies.get('state') %}
                    {% set address = request.cookies.get('address') %}
                    {% set dob = request.cookies.get('dob') %}
                    {% set start = request.cookies.get('start') %}
                    {% set end = request.cookies.get('end') %}
                    {% set start_date = request.cookies.get('start_date') %}
                    {% set end_date = request.cookies.get('end_date') %}


            {% endif %}

<h2 style="text-align:center;"> showing Results from {{start}} ➡ {{end}} </h2>

{% if c==0 %}
<div class="message">
<h1>Sorry 🙇‍♂ currently no drivers are available in {{ start }} </h1>

  <h1> for any queries <a style=" font-size:10px;" href="contact">contact us</a></h1>
  </div>
{% endif %}
{% for i in emp_avb %}
<div  style="margin:3%" class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3ZiLfUvnOL1xtA0C3QepRLL89GRlNq6iVA&usqp=CAU" alt="car-2" style="width:100%">
  <div class="container">
    <h4><b>{{i[0]}} with {{i[3]}} years of experience</b></h4>

    <p>Car number: {{i[5]}}</p>
    <p> Experience : {{i[3]}}</p>

            <a href="book">Book now</a>


  </div>
</div>
{% endfor %}

{% include "footer.html" %}
</body>

</html>
