<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password </title>
</head>
<body>
{% include 'header.html' %}
<form action="marichipoina" method="post">
<table>
<tr>
<td> <label for="Email"> Email:</label></td>
</tr>
<tr>
<td>  <input style="text-align:center; color:orange; padding:5px; border-radius:2px;border-style: dotted;"   placeholder="Eamil" type="email"  name="email" required></td>
</tr>
<tr><td></td></tr>
    <tr><td><input type="submit" value="Submit "></td></tr>

</table>
    </form>
</body>
</html>